<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-h1">Vyberte výukovou aplikaci:</div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px">
    <!-- Eduapps list -->
    <button mat-button
            *ngFor="let eduapp of eduapps$ | async"
            routerLink="./{{eduapp.eduappId}}">
      <mat-card class="mat-elevation-z4">
        <img mat-card-md-image src="{{eduapp.image.resourceUri}}">
        <mat-card-content>{{eduapp.name}}</mat-card-content>
      </mat-card>
    </button>
  </div>
</div>
