@import '~@angular/material/theming';

@include mat-core();

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.in-progress {
  overflow: hidden;

  mat-icon {
    color: mat-color(mat-palette($mat-red));
  }
}

.in-progress-warning {
  background: #fafafa;
}

.white {
  background: white;
}

.queue-item-drag-handle {
  padding: 8px;
  cursor: move;

  mat-icon {
    transform: rotate(90deg);
  }
}

.queue-list {
  border: solid 1px #ccc;
  background: white;
  border-radius: 8px;
  overflow-y: auto;
}

.queue-empty {
  width: 200px;
  height: 200px;
}


.queue-card {
  border-right: solid 1px #ccc;
  box-sizing: border-box;
  width: 200px;
  height: 200px;

  .queue-card-content {
    padding: 16px;

    div {
      @extend %text-overflow;
    }

    img {
      width: 100%;
      height: 80px;
    }
  }
}

//Used css styles from the official angular material reference
//https://material.angular.io/cdk/drag-drop
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  @include mat-elevation(8);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.queue-list.cdk-drop-list-dragging .queue-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
