<div *ngIf="child"
     style="padding: 8px"
     gdAlignColumns="center"
     gdAreas=" img name name | img gender age | groups groups groups "
     gdAreas.lt-md="img name name groups| img gender age groups"
     gdAlignRows="center"
     gdGap="16px"
     gdColumns="min-content min-content auto"
     gdRows="min-content min-content">

  <!-- Child image -->
  <div gdArea="img" gdGridAlign="center center">
    <img [ngStyle]="{'width': '128px'}" [ngStyle.lt-md]="{'width': '64px'}"
         src="{{child.image && child.image.resourceUri}}" alt="child-avatar">
  </div>

  <!-- Child name  -->
  <div gdArea="name" gdGridAlign="start end">
    <span class="mat-h2">{{child.firstName}} {{child.lastName}}</span>
  </div>

  <!-- Child gender -->
  <div gdArea="gender">
    <span class="mat-body">{{child.gender | gender | titlecase}}</span>
  </div>

  <!-- Child age -->
  <div gdArea="age">
    <span class="mat-body">Věk: {{child.dateOfBirth | age}}</span>
  </div>

  <!-- Child groups -->
  <div gdArea="groups"
       gdGridAlign.lt-md="center center">
    <app-item-chips [items]="groupChips"></app-item-chips>
  </div>
</div>
