<div fxLayout="row wrap">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z4">
    <!-- Navigation -->
    <nav fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px">
      <!-- Title -->
      <a mat-button routerLink="/" fxShow.lt-sm="false"> Výuková platforma </a>
      <mat-divider vertical="true" class="divider" fxShow.lt-sm="false"></mat-divider>
      <!-- Children list button -->
      <a mat-button routerLink="/eduapps/{{selectedEduappId}}/children">Děti
        <mat-icon>face</mat-icon>
      </a>
      <!-- Scenario list button -->
      <a mat-button routerLink="/eduapps/{{selectedEduappId}}/scenarios">Scénáře
        <mat-icon>playlist_play</mat-icon>
      </a>
      <!-- Eduapp select box -->
      <app-item-select [items]="eduapps$ | async"
                       [shrinkResponsive]="true"
                       (selectionChange)="onEduappSelect($event)"
                       [initialItemId]="selectedEduappId"
                       class="mat-body">
      </app-item-select>
    </nav>
  </mat-toolbar>
</div>
