<!-- Top level App component -->
<div fxFill fxLayout="column nowrap" class="mat-typography">
  <div fxFlex="1 0 auto">
    <router-outlet></router-outlet>
  </div>
  <!-- Attribution to icon authors -->
  <!-- TODO: REMOVE WHEN ICONS ARE ORIGINAL -->
  <div style="color: dimgrey" fxFlex="initial" fxFlexAlign="center" class="mat-small">
    <span>Autorem ikon je </span>
    <a style="color: black" target="_blank" href="https://www.freepik.com">Freepik</a>
    <span> z </span>
    <a style="color: black" target="_blank" href="https://www.flaticon.com">flaticon.com</a>
  </div>
</div>
