<div *ngIf="scenario"
     style="padding-top: 8px"
     fxFill
     [gdAreas]="small ? 'img name | img note | img edit' : 'img | name | note | edit'"
     [gdAreas.lt-md]="small ? 'img name | img note | edit edit' : 'img name note | edit edit edit'"
     gdColumns="auto auto"
     gdAlignColumns="center"
     gdAlignRows="center"
     [gdGap]="small? '4px' : '8px'"
     gdRows="min-content min-content">

  <!-- Scenario image -->
  <div *ngIf="scenario.image" gdArea="img" [gdGridAlign]="small ? 'center center' : ''">
    <img [ngStyle]="small? { width: '64px'} : { width :'128px' } " [ngStyle.lt-md]="{width: '64px'}"
         src="{{scenario.image && scenario.image.resourceUri}}" alt="scenario-icon">
  </div>

  <!-- Scenario name input field -->
  <div gdArea="name" gdGridAlign="start end" fxLayout="row">
    <mat-form-field [ngStyle]="{width: 'auto'}" [ngStyle.lt-sm]="{width: '80px'}" *ngIf="edit" fxFlex>
      <input matInput [maxLength]="MAX_NAME_LEN"
             id="name-input"
             required
             placeholder="Název"
             [(ngModel)]="name"
             (ngModelChange)="onNameChange($event)">
    </mat-form-field>
    <span *ngIf="!edit" class="scenario-detail-text mat-h2">{{scenario.name}}</span>
  </div>

  <!-- Scenario note input field -->
  <div gdArea="note" gdGridAlign="start end">
    <mat-form-field [ngStyle]="{width: 'auto'}" [ngStyle.lt-sm]="{width: '80px'}" *ngIf="edit">
      <input matInput
             id="note-input"
             [maxLength]="MAX_NOTE_LEN"
             placeholder="Poznámka"
             [(ngModel)]="note"
             (ngModelChange)="onNoteChange($event)">
    </mat-form-field>
    <span *ngIf="!edit && scenario.note" class="child-detail-text mat-body">{{scenario.note}}</span>
  </div>

  <!-- Scenario last edited date and time -->
  <div gdArea="edit"
       gdGridAlign.lt-md="center center">
    <span *ngIf="scenario.lastChange" class="child-detail-text mat-body">
      Naposledy upraveno: {{scenario.lastChange | date:'d.M.yyyy (HH:mm)'}}
    </span>
  </div>
</div>
