<div style="pointer-events: none">
  <mat-chip-list [selectable]="false">
    <mat-chip *ngFor="let item of items">
      <img ngClass.lt-sm="chip-image-small" class="chip-image" *ngIf="item.image" alt="{{item.label}}"
           src="{{item.image}}">
      <span fxHide.lt-sm="true">{{item.label}}</span>
    </mat-chip>
  </mat-chip-list>
</div>
