<div fxFill fxLayout="column" fxLayoutAlign="space-around stretch">
  <app-toolbar-title fxFlex="48px">Seznam dětí</app-toolbar-title>
  <div fxFlex="noshrink" fxLayout="row nowrap" fxLayoutAlign="center">
    <!-- Children list component with editButton link -->
    <app-children-list fxFlex="90" fxFlex.lt-sm="100"
                       [paginate]="paginate"
                       [displayedColumns]="['firstName', 'lastName', 'gender', 'groups', 'age', 'actionButtons']"
                       [actionButtons]="['edit']">
    </app-children-list>
  </div>
  <div fxFlex="5"></div>
</div>
