<div fxFlex="grow" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="stretch center">
    <div *ngIf="listTitle" fxFlex.lt-md="grow" fxFlex="initial" fxFlexAlign="center" fxFlexAlign.lt-sm="start">
      <h2 class="mat-h2" [ngStyle.lt-sm]="{padding: '0 8px'}" [ngStyle]="{'padding-right': '32px'}">
        {{listTitle}}
      </h2>
    </div>
    <div fxFlex="auto">
      <!-- Filtering -->
      <app-data-filtering
        (updateOptions)="updateOptions($event)"
        [paginate]="paginate"
        [pageSize]="pageSize"
        [count]="scenariosCount">
      </app-data-filtering>
    </div>
  </div>
  <!-- Scenarios list -->
  <app-data-table
    fxFlex="auto"
    (rowClick)="onScenarioClick($event)"
    [additionalColumns]="[
    {label: 'Datum poslední změny', id: 'lastChange', template: lastChange, sort: true},
    {id: 'actionButtons', template: actionButtonsTemplate}]"
    [data]="scenarios$ | async"
    [columnDefinitions]="[
    {label: 'Id', propName: 'scenarioId', sort: true},
    {label: 'Název', propName: 'name', sort: true},
    {label: 'Poznámka', propName: 'note', sort: false}]"
    [displayedColumns]="displayedColumns"
    (sortChange)="onSort($event)"
    [loading]="loading">
    <ng-content></ng-content>
  </app-data-table>
</div>

<!-- Additional columns templates -->
<!-- Last changed date and time -->
<ng-template #lastChange let-e="e">
  {{e.lastChange | date:'d.M.yyyy (HH:mm)' }}
</ng-template>

<ng-template #actionButtonsTemplate let-e="e">
  <div fxFill fxLayout="row nowrap" fxLayoutGap="4px" fxLayoutAlign="end">
    <ng-container *ngFor="let button of actionButtons">

      <!-- Add scenario button -->
      <button *ngIf="button === 'add'" matTooltip="Přidat do fronty"
              mat-icon-button
              class="mat-elevation-z1"
              (click)="$event.stopPropagation(); onAddClick(e)">
        <mat-icon class="material-icons md-18">add</mat-icon>
      </button>

      <!-- Assign scenario button -->
      <button *ngIf="button === 'assign'" matTooltip="Přiřadit dětem"
              class="assign"
              mat-icon-button
              (click)="$event.stopPropagation()"
              routerLink="/eduapps/{{eduappId}}/scenarios/{{e.scenarioId}}/assign">
        <mat-icon>group_add</mat-icon>
      </button>

      <!-- Edit scenario button -->
      <button *ngIf="button === 'edit'" matTooltip="Upravit"
              class="edit"
              mat-icon-button routerLink="/eduapps/{{eduappId}}/scenarios/{{e.scenarioId}}">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- Delete scenario button -->
      <ng-container *ngIf="button == 'delete'">
        <button *ngIf="!deleting[e.scenarioId]"
                class="delete"
                mat-icon-button
                matTooltip="Odstranit"
                (click)="$event.stopPropagation(); onDeleteClick(e)">
          <mat-icon>delete</mat-icon>
        </button>
        <!-- Loading indicator -->
        <div fxFlex="40px" fxLayout="column" fxLayoutAlign="center center" *ngIf="deleting[e.scenarioId]">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
      </ng-container>

    </ng-container>
  </div>
</ng-template>
