/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
