<div fxFill fxLayout="column" fxLayoutAlign="space-around stretch">
  <app-toolbar-title fxFlex="48px" back="true" backRoute="../../">Přiřadit scénář</app-toolbar-title>
  <div fxFlex="grow" fxLayout="row nowrap" fxLayoutAlign="center">
    <div fxFlex="90" fxFlex.lt-sm="100" fxLayout="column">
      <!-- Scenario detail: non-editable -->
      <app-scenario-detail-edit small="true" [scenario]="scenario$ | async"></app-scenario-detail-edit>

      <!-- Children list -->
      <app-children-list fxFlex="noshrink"
                         [paginate]="paginate"
                         [displayedColumns]="['childId', 'firstName', 'lastName', 'gender', 'groups', 'age', 'select' ]"
                         (selectionChange)="onSelectionChange($event)">
        <!-- Assignment buttons -->
        <div class="assign-buttons" fxLayout="row wrap" fxLayoutAlign="end end">
          <mat-spinner diameter="30" *ngIf="saving"></mat-spinner>
          <!-- Assign to front button -->
          <button mat-raised-button
                  [disabled]="!selected.length" (click)="assignFront()">
            Přiřadit na začátek fronty
          </button>
          <!-- Assign to back button -->
          <button mat-raised-button color="accent"
                  [disabled]="!selected.length" (click)="assignBack()">
            Přiřadit na konec fronty
          </button>
        </div>
      </app-children-list>
    </div>
  </div>
  <div fxFlex="5"></div>
</div>
